<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServicesSecuritySoap1" />
        <binding name="WebServicesSecuritySoap" />
        <binding name="WSCartadeGarantiaSoap" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="999999"
          maxReceivedMessageSize="999999" useDefaultWebProxy="true" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.7.2.71/wsSecurityCP/WebServicesSecurity.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServicesSecuritySoap1"
        contract="SKA_ChangePass.WebServicesSecuritySoap" name="WebServicesSecuritySoap1" />
      <endpoint address="http://svsiwnapdev01/wsSecurity/WebServicesSecurity.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServicesSecuritySoap"
        contract="SKA_Access.WebServicesSecuritySoap" name="WebServicesSecuritySoap" />
      <endpoint address="http://10.12.1.10/WS_CRPPS_AFILIADOS/WSCartadeGarantia.asmx"
        binding="basicHttpBinding" bindingConfiguration="WSCartadeGarantiaSoap"
        contract="PlanSalud_InformacionAfiliado.WSCartadeGarantiaSoap"
        name="WSCartadeGarantiaSoap" />
    </client>
    <services>

    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
