@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Error!
    </h1>

  </section>

  <section class="content">Ocurrio un error al intentar realizar esta accion, favor de comunicarse con el 
  administrador de sistemas</section>
</div>