@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Sin Acceso!
    </h1>

  </section>

  <section class="content">Usted no cuenta con los permisos para acceder a esta seccion, favor de comunicarse con mesa de ayuda.</section>
</div>