@{
    ViewBag.Title = "Dashboard General";
}

<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Bienvenido!
    </h1>

  </section>

  <section class="content">
    
    @*<iframe  style="width:100%;min-height:500px"
            src="https://app.powerbi.com/view?r=eyJrIjoiMzVjMzA5Y2UtYjlhYi00OWRjLTgyZmMtODZlNTMzNTJlYTQ2IiwidCI6IjIxOGZlZDAyLTJiNTctNGM4OC1hYmVkLTc5ODcxMzA3OGUyNCIsImMiOjR9"></iframe>*@
  </section>
</div>

@section scripts {

<script></script>
}
